
/* ------------------------Reseteo CSS */

/* Luego de crear nuestro archivo css procedemos a realizar lo que llamamos reseteo css */
/* Este reseteo sirve para restablecer todos los estilos y que nuestro contenido parta desde 0 */
*{
    margin: 0; /* el margin es la propiedad del margen en todas las etiquetas, es el espacio que se encuentra entre una etiqueta y otra */
    padding: 0; /* el paddin es el espacio que se encuentra entre el margin y el contenido de la etiqueta */
}

/* ---------------------- */
/* Podemos integrar nuestras modificaciones de estilos por medio de los selectores, en este caso usamos un selector de etiqueta */

/* Aplico imagen de fondo al body, se verá en toda la pagina */
body {
    background-image: url(./img/fondo.jpeg);
    background-size: 60%;
}

/* ------------------Inicia la Sección de Home */

/* Agrego una posicion relativa, para luego ubicar el Menu de inicio en base al Header*/
header{
    position: relative;
}

/* Introduzco la propiedad de posicion absoluta y ubico el menu con top y left (ambos en base a Header)  */
.menuInicio{
    position: absolute;
    top: 30%;
    left: 40%;
    text-align: center;

}

/* Especifico que el h3 que voy a modificar es el que se encuentra dentro del Menu, cambio el icono del flecha por el cursor de manito */
/* ademas agrego un fondo negro a la etiqueta y un color de texto blanco */
.menuInicio h3{
    cursor: pointer;
    padding: 5px;
    background-color: black;
    color: white;
}

/* Ahora pasamos a agregar estilos para quitar las viñetas a nuestra lista por medio de list-style-type */
ul {
    list-style-type: none;
    text-align: center;
}


li {
    padding: 5px;
}

li:hover{
    background-color: #15777c;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* El logo central tambien estara por encima del div "logoCentral" por lo que tambien colocare una posición relativa  */

.logoCentral { 
    width: 100%; /* para ocupar el ancho de la pantalla le agrego un width de 100% */
    text-align: center;
    position: relative;
}

/* Aqui agrego los estilos de la imagen para que se vea circular y se ubique en el centro
esto lo hago con un border-radius y añadiendo un margen */
.logoCentral img{
    border: 1px;
    border-style: solid;
    border-radius: 50%;
    width: 70%;
    margin-top: 10%;
    margin-bottom: 10%;
    cursor: pointer;

}
/* Agregare una clase para ocultar el menu y que parezca que se encuentra detras del logo
hidden significa oculto */

.ocultar{
    visibility: hidden;
}

/* Como no llegue a realizar el carrousel por cuestion de tiempo lo transforme en una imagen de una agenta 
con una frase de contenido aqui paso nuevamente a añadir estilos a su div contenedor*/
.excarrousel{
    position: relative;
    text-align: center;
    width: 100%;
    background-color: #22c2cb;
}

/* luego a la imagen */
.agenda{
    width: 100%;
}

/* y al texto que va por encima de ella, otra vez utilizando propiedades de position */
.textEncima {
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small; /* aqui incorporamos la letra que utilizamos y en que tamaño */
}

/* ----------------------Inicia la Seccion de Sobre mi */
/* A partir de aqui incorporare una caja contenedora fexible para poder maquetar mejor mis secciones
esto lo defino mediante display:flex, utilizando propiedades flexbox ubico el contenido general de esta caja contenedor
en el centro  */
.contenedor{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap; /* el wrap se utiliza para que la caja padre envuelva el contenido, es decir si el contenido es mas grande la caja se reubica */
    margin-top: 40px;
}

/* Establezco nuevamente una posicion relativa para que el menu se ubique en base a el titulo de cada seccion */
.tituloSeccion{
    position: relative;
    width: 100%;
}


h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    margin-bottom: 20px;
    background-color: black;
    color: #22c2cb;
    text-align: center;

}

/* Al menu lo coloco escondido por lo que utilizo un valor negativo para que pueda sobresalir de la pantalla y no se vea */
/* incluyo una animacion por transicion para cuando lo llame con javascript */
.menu{
    position: absolute;
    left: -250px; 
    top: 80%;   
    background-color: #22c2cb;
    transition: 0.5s;

}

/* la siguiente clase la utilizare para que aparezca el menu desplazandose a su valor original */
.activo {
    left: 0px;

}
/*  Este icono estara por encima del titulo de seccion por lo que tendra una posicion absoluta */
.iconBurguer{
    position: absolute;
    width: 20px;
    top: 20%;
    left: 2%;
    margin-left: 5px;
    margin-right: 90%;
    align-self: flex-start;
    background-color: #22c2cb;
    border: 2px;
    border-style: solid;  

}

.parrafo {
   text-align: center;
   font-family: cursive;
   font-size: medium;
   font-style: oblique;
   color: white;
   padding: 20px;
   margin: 20px;
   background-color: #22c2cb;
   border-radius: 10%;
}

.juli {
    margin-left: 30%;
    margin-right: 30%;
    padding: 5px;
    border: 2px solid;
    border-radius: 50%;
}

/* -------------------Fin de Seccion Sobre mi */


/* -------------------Inicia Seccion Mis Servicios */
.imgIso {
    width: 35%;
    border-radius: 30%;
    border: 1px solid;
    margin: 10px;
    background-color:white;
}

.contenedor2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

article{
    width: 50%;
    font-size: small;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;

}

/* Aqui incorporamos las pseudoclasses y pseudoelementos, para elegir los elementos impares y pares del contenedor padre */
article:nth-child(even){
    text-align:justify;
    border-radius: 20px;
    padding: 20px;
    background-color: #22c3cb;

}

article:nth-child(odd){
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color: #22c2cb;
    background-color: white;
    border: 1px solid;
}
/* --------------------Fin de Seccion Mis SErvicios */
/* --------------------Inicio Seccion Contactame */
.redesContainer{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.753);
    margin-top: 10px;
    padding: 20px;
    border-radius: 20%;
    border: 1px solid #22c2cb;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:small;
}

.mapaContainer {
    text-align: center;
    width: 500px;
}

.mapaContainer h3 {
    background-color: rgba(255, 255, 255, 0.678);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    margin: 5px;
}

iframe{
    padding: 10px;
    margin: 5px;
    border: 1px solid;
}

form{ 
    text-align: center;
    width: 90%;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.815);
    color: white;
    border-radius: 10%;
    padding: 10px;     
}

label{
    width: 100%;
    display: block;
    padding: 5px;
}


input, textarea{
    background-color: rgba(0, 0, 0, 0.726);
    width: 90%;
    padding: 5px;
    border-radius: 10px;
    color: white;

}

.bn:hover {
    background-color: rgba(255, 255, 255, 0.466);
    cursor: pointer;
}

/* ---------Termina SEccion Contactame */
/* Por ultimo agrego estilos al footer */
footer{
    background-color: #22c3cba8;
    text-align: center;
    font-style: oblique;
}